*{
  box-sizing: border-box;

}
body{
  background-color: teal;
  display: flex;
  justify-content: center;
  margin: 20%;
}
img{
  height: 200px;
  width: 200px;
   /* position: relative;
  left: 50px; */ */
  background-color: teal;
}
p{
  font-size: 50px;
  /* position: relative;
  left: -10px; */
}

button{
  font-size: 50px;
  border-radius: 30px;
  /* position: relative;
  top: 300px; */
}
